:root
{
    --editor: #1e1e1e;
    --border: #3e3e42;
    --side: #252526;
    --buttons: #3e3e42;
    --top: #007acc;
    --separators: #3e3e42;
    --separator-size: 5px;
}

*
{
    margin:0;
    padding: 0;
}

@font-face {
    font-family: fira;
    src: url(../fonts/FiraMono-Medium.ttf);
}

html, body
{
    width: 100%;
    min-height:100%;
    height: 100%;
    overflow: hidden;
    font-family: fira;
}

#menu
{
    background-color: var(--top);
    border-bottom: solid var(--separator-size) var(--separators);
    padding:0.5vh;
    height: 2vh;
}

#menu > span
{
    font-size: 2vh;
    margin-left: 2vh;
    color: white;
    opacity: 0.6;
}

#menu > span > span
{
    font-size: 0.8vh;
    margin-left:1vh;
}

#editor
{
    width: 100%;
    height: 98vh;
    color:white;
    font-size: 2vh; 
    display: flex;
}

#editor-side
{
    display: table-cell;
    background-color: var(--side);
    min-width: 15ch;
    height:98vh;
}

#editor-main
{
    display: table-cell;
    width: 100%;
    vertical-align: top;
    margin:0;
    padding: 0%;
    background: var(--editor);
    overflow: hidden;
    height: 98vh;
    position: relative;
}


#editor-separator {
    cursor: col-resize;
    background-color: var(--separators);
    width: var(--separator-size);
    height: 100%;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#editor-main-separator {
    cursor: n-resize;
    background-color: var(--separators);
    width: 100%;
    height: var(--separator-size);

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}



#editor-wrapper {
	display: block;
	overflow: hidden;
	max-height: 95vh;
	overflow-y: auto;
    position: relative;
}

#editor-content
{
    display: block;
    width: 100%;
    background-color: var(--editor);
    font-size: 1.5vh;
    border-collapse: collapse;
}

#editor-content > tbody
{
}

#editor-content > thead
{
    font-size: 1vh;
    opacity: 0.5;
}

#editor-content > thead > tr > th
{
    border-right: solid var(--border) var(--separator-size);
    padding-left: 1vh;
    padding-right: 1vh;
    border-spacing: 0;
    color: rgba(255,255,255,0.8);
    padding:1vh;
}

#editor-content > thead > tr > th:nth-child(1),  #editor-content > tbody > tr > td:nth-child(1)
{
    width: 5%;
}

#editor-content > thead > tr > th:nth-child(2),  #editor-content > tbody > tr > td:nth-child(2)
{
    width: 5%;
}

#editor-content > thead > tr > th:nth-child(3), #editor-content > tbody > tr > td:nth-child(3)
{
    width: 5%;
}

#editor-content > thead > tr > th:nth-child(4), #editor-content > tbody > tr > td:nth-child(4)
{
    width: 15%;
}

#editor-content > thead > tr > th:nth-child(5), #editor-content > tbody > tr > td:nth-child(5)
{
    width: 5%;
}

#editor-content > thead > tr > th:nth-child(6), #editor-content > tbody > tr > td:nth-child(6)
{
    width: 10%;
}

#editor-content > thead > tr > th:nth-child(7), #editor-content > tbody > tr > td:nth-child(7)
{
    width: 20%;
}

#editor-content > tbody > tr
{
    border-spacing: 0;
    height: 2vh;
}

#editor-content > tbody > tr > td
{
    border-right: solid var(--border) var(--separator-size);
    padding-left: 1vh;
    padding-right: 1vh;
    border-spacing: 0;
    color: rgba(255,255,255,0.8);
}


#editor-content > tbody > tr > td > input
{
    color: rgba(255,255,255,1);
    background: none;
    border: none;
    outline: none;
    border-bottom: solid 1px white;
    height: 2vh;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    font-family: fira;
}

.sprite-column > input
{
    display: block;
    margin: auto;
}

.comment-column
{
    font-size: 1vh;
    overflow: hidden;
    white-space: nowrap;
}


#editor-side > p
{
    text-align: center;
    font-size: 1.5vh;
    margin-top:1vh;
}

#editor-side > hr
{
    width: 80%;
    margin:auto;
}

#context
{
    width: 80%;
    margin:auto;
    margin-top:1vh;
}

#context > button
{
    display: block;
    width: 100%;
    margin-top:0.5vh;
    color: white;
    outline: none;
    border: none;
    background :var(--buttons);
    cursor: pointer;
    font-size: 1.2vh;
    font-family: fira;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: opacity 0.2s;
}

#context > button:hover
{
    opacity:0.7;
}

#helpers
{
    width:80%;
    height: 73vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin:auto;
    margin-top:1vh;
}

#helpers > button
{
    display: block;
    width: 100%;
    margin-top:0.5vh;
    color: white;
    outline: none;
    border: none;
    background :var(--buttons);
    cursor: pointer;
    font-size: 1.2vh;
    font-family: fira;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: opacity 0.2s;
}

#helpers > button > p:nth-child(1)
{
    font-size: 1.2vh;
    opacity:0.7;
}

#helpers > button > p:nth-child(2)
{
    font-size: 1.5vh;
}

#helpers > button > p:nth-child(3)
{
    font-size: 0.9vh;
    opacity:0.5;
}



#helpers > button:hover
{
    opacity:0.7;
}


.error
{
    background-color: rgba(255,0,0,0.3);
}



#debugger
{
    bottom: 0;
    right:0;
    left:0;
    background-color: var(--editor);
    padding:1vh;
    display: none;
    position: relative;
}

#debugger p
{
    text-align: center;
    font-size: 1.2vh;
}

#debugger-other-panel > table
{
    display: inline !important;
    margin: 1vh;
}

#debugger-other-panel > div
{
    margin-left:2vh;
}

#debugger-memory-panel, #debugger-stack-panel, #debugger-registers-panel, #debugger-other-panel
{
    display: flex;
    width: 100%;
    margin:auto;
}

#debugger-memory-table, #debugger-stack-table, #debugger-registers-table
{
    width: 100%;
}

.debugger-skip-button
{
    margin-top:15px;
    margin-bottom:15px;
    color: white;
    outline: none;
    border: none;
    background :var(--buttons);
    cursor: pointer;
    font-size: 10px;
    font-family: fira;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: opacity 0.2s;
    width: 15px;
    transition: all 0.2s;
}

.debugger-skip-button:hover
{
    opacity:0.7;
    background-color: rgba(255,255,255,0.2);
}

#debugger table
{
    font-size: 15px;
    font-family: fira;
    margin:auto;
    margin-top:15px;
    margin-bottom: 15px;
    border-collapse: collapse;

}

#debugger table > thead > tr
{
    background: var(--border);
}

#debugger table > tbody > tr > td,
#debugger table > thead > tr > td
{
    border: solid 0.2vh var(--border);
    text-align: center;
    padding:0.3vh;
}

.debugger-stack > thead > tr > td:first-child, 
.debugger-stack > tbody > tr > td:first-child,
.debugger-stack > div > thead > tr > td:first-child, 
.debugger-stack > div > tbody > tr > td:first-child
{
    border-right: solid 1vh var(--border) !important;
}


#emulator-display
{
    width: 32vh;
    height: 16vh;
    background: black;
}

#debugger-close-button
{
    position: absolute;
    right:5px;
    top:5px;
    width: 2vh;
    height: 2vh;
    background: none;
    border:none;
    color:white;
    font-size: 2vh;
    line-height: 2vh;
    border-radius: 0.5vh;
    transition: all 0.2s;
}

#debugger-close-button:hover
{
    background-color: rgba(255,255,255,0.3);
}

#debugger-keyboard {
	border-spacing: 3px;
	border-collapse: separate !important;
	display: inline;
	position: absolute;
	top: 50%;
	transform: translate(0%,-50%);
	height: fit-content;
	margin: 0 !important;
	margin-left: 5vh !important;
}

#debugger-keyboard > tr > td
{

}

#debugger-keyboard > tr > td > button
{
    width:30px;
    height:30px;
    background: var(--border);
    border:none;
    cursor:pointer;
    color:white;
    font-size: 15px;
    font-family: fira;
}

.current-line 
{
    background-color: rgba(255,255,0,0.5);
}


.unpressed
{
    background-color: rgba(255,0,0,0.5) !important;
}

.pressed
{
    background-color: rgba(0,255,0,0.5) !important;
}

.changed {
    animation: changedAnimation 0.5s;
}

@keyframes changedAnimation{
    0%{
      background-color: rgba(255,255,0,1);
    }
    100%{
        background-color: rgba(255,255,0,0);
    }
  }